
<div>まいきゃら一覧（会員詳細画面 ）</div>

<div><%= link_to "ユーザー情報を編集する", edit_customer_path(current_customer.id) %></div>


<div>
  <div>まいきゃら一覧<%= @characters.count %></div>
  <div>
    <% @characters.each do |character| %>
    <div><%= link_to character.name, character_path(character.id) %></div>
    <div><%= image_tag character.get_image(100, 100) %></div>
    <div><%= character.explanation %></div>
    <div>
      <% character.categories.each do |category| %>
        <%= category.name %>
      <% end %>
    </div>
    <div>
      <% character.tags.each do |tag| %>
        <%= tag.name %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>