
<div class="title">お問い合わせ一覧</div>

<div>

  <div>
    <div><%= link_to "アカウントの復活", admin_inquiries_path(revival: 1) %></div>
    <div><%= link_to "アカウントの完全削除", admin_inquiries_path(delete: 1) %></div>
    <div><%= link_to "利用方法について", admin_inquiries_path(how: 1) %></div>
    <div><%= link_to "その他", admin_inquiries_path(other: 1) %></div>
    <div><%= link_to "解決済み", admin_inquiries_path(solve_true: 1) %></div>
    <div><%= link_to "未解決", admin_inquiries_path(solve_false: 1) %></div>
    <div><%= link_to "全て表示する", admin_inquiries_path %></div>
  </div>

  <table>
    <thead>
      <tr>
        <th class="outline text-center">日時</th>
        <th class="outline text-center">ユーザ名</th>
        <th class="outline text-center">ステータス</th>
        <th class="outline text-center">内容</th>
        <th class="outline text-center">解決</th>
        <th class="outline text-center" colspan="1"></th>
        <th class="outline text-center" colspan="1"></th>
      </tr>
    </thead>
    <tbody>
      <% @inquiries.each do |inquiry| %>
      <tr>
        <td class="outline text-center"><%= inquiry.created_at.strftime('%Y/%m/%d %H:%M') %></td>
        <td class="outline text-center"><%= link_to inquiry.customer.name, admin_inquiry_path(inquiry.id) %></td>
        <td class="outline text-center"><%= inquiry.customer.is_active %></td>
        <td class="outline text-center"><%= inquiry.content_i18n %></td>
        <td class="outline text-center"><%= inquiry.solve ? '解決済み' : '未解決' %></td>
        <td class="outline text-center"><%= link_to "返信する", admin_inquiry_path(inquiry.id), class: "btn btn-success" %></td>
        <td class="outline text-center">
          <% if inquiry.solve %>
            <%= link_to "未解決にする", inquiry_path(inquiry.id, inquiry: {solve: false}, inquiry_index:1 ), method: :patch,"data-confirm" => "「未解決」にしますか？", class: "btn btn-primary" %>
          <% else %>
            <%= link_to "解決済みにする", inquiry_path(inquiry.id, inquiry: {solve: true}, inquiry_index:1), method: :patch,"data-confirm" => "「解決済み」にしますか？", class: "btn btn-warning" %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>
