
<div class="title">お問い合わせ詳細画面</div>


<div class="font-weight underline"><%= @inquiry.solve ? '解決済' : '未解決' %></div>

<div class="flex space-50">
<!--お問い合わせ内容-->
<div>
  <div>
    <div>
      <lavel>問い合わせ日時</lavel>
      <%= @inquiry.created_at.strftime('%Y/%m/%d %H:%M') %>
    </div>
  </div>

  <div class="outline-radius padding-5">
    <div>
      <label class="width-100">ユーザー名</label>
      <span><%= @inquiry.customer.name %></span>
    </div>

    <div>
      <label class="width-100">ユーザーID</label>
      <span><%= @inquiry.customer.id %></span>
    </div>

    <div>
      <label class="width-100">内容</label>
      <span><%= @inquiry.content_i18n %></span>
    </div>

    <div>
      <label class="width-100">お問い合わせ</label>
      <div><%= @inquiry.inquiry %></div>
    </div>
  </div>
</div>
<!------------------->
<div class="left-space-30">
  <% if @inquiry.answers.any? %>
  <div>返信内容</div>
  <div>
    <% @inquiry.answers.each do |answer| %>
    <div class="outline-radius padding-5 space-5">
      <div><%= answer.created_at.strftime('%Y/%m/%d %H:%M') %></div>
      <div><%= answer.answer %></div>
    </div>
    <% end %>
    </div>
  <% end %>

  </div>
</div>

<!--返信-->
<div class="width-40p">
  <div>返信フォーム</div>
  <%= form_with model: @answer, url: admin_answers_path, method: :post do |f| %>
    <%= f.text_area :answer, class: "width-100p height-200" %>
    <%= f.hidden_field :inquiry_id, value: @inquiry.id %>
    <%= f.hidden_field :customer_id, value: @inquiry.customer.id %>
    <%= f.submit '返信する', class: "btn btn-primary" %>
  <% end %>
</div>
<!------------------->



