
<div class="flex width-60p">
  <div class="title">編集</div>
  <div class="right-send"><%= link_to "削除する", material_path(@material.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %></div>
</div>


<div>
  <%= form_with model: @material, url: material_path, method: :patch do |f| %>

    <table>
      <tr>
        <th>タイトル</th>
        <td><%= f.text_field :material_title, class: "width-500" %></td>
      </tr>
      <tr>
        <th>内容</th>
        <td><%= f.text_area :material, class: "width-500 height-200" %></td>
      </tr>
      <tr>
        <th>タグ</th>
        <td class="width-500">
          <%= f.collection_check_boxes(:category_ids, Category.all, :id, :category_name) do |category| %>
          <span class="margin-2 nowrap">
          <%= category.label do %>
            <%= category.check_box %>
            <span class="underline"><%= category.text %></span>
          <% end %>
          </span>
        <% end %>
        </td>
      </tr>
      <tr>
        <th>カテゴリ</th>
        <td class="width-500">
          <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :tag_name) do |tag| %>
          <span class="margin-2 nowrap">
          <%= tag.label do %>
            <%= tag.check_box %>
            <span class="underline"><%= tag.text %></span>
          <% end %>
          </span>
          <% end %>
        </td>
      </tr>
      <tr>
        <th></th>
        <td><%= f.submit "登録" %></td>
      </tr>
    </table>

  <% end %>
</div>

<div class="space-10">
  <div>カテゴリを追加する</div>
  <%= form_with model: @category, url: categories_path(material_id: @material.id), method: :post do |f| %>
    <span>
      <%= f.text_field :category_name, :required => true %>
      <%= button_tag type: "submit" do %>
        <i class="fa-solid fa-plus"></i>
      <% end %>
    </span>
  <% end %>
</div>

<div class="space-10">
  <div>タグを追加する</div>
  <%= form_with model: @tag, url: tags_path(material_id: @material.id), method: :post do |f| %>
    <span>
      <%= f.text_field :tag_name, :required => true %>
      <%= button_tag type: "submit" do %>
        <i class="fa-solid fa-plus"></i>
      <% end %>
    </span>
  <% end %>
</div>