

<div class="flex">
  <div class="title right-space-15">ネタ一覧(<%= @materials.count %>件) </div>

  <div class="font-20 margin-5">
    追加する
    <%= link_to(new_material_path) do %>
      <i class="fa-solid fa-plus"></i>
    <% end %>
  </div>
</div>

<div class="width-80p column-2 center">
  <% @materials.each do |material| %>
  <div class="outline avoid space-20 padding-8">
    <div class="flex">
      <div class="underline font-20 "><%= link_to material.material_title, material_path(material.id) %></div>
      <div class="right-send"><%= material.created_at.strftime('%m/%d %H:%M') %></div>
    </div>
    <div class="outline margin-5 padding-3"><%= material.material.truncate(30) %></div>
    <div>
      <% material.categories.each do |category| %>
        <span class="outline-radius-3 margin-2 nowrap font-13 padding-1"><%= category.category_name %></span>
      <% end %>
    </div>
    <div>
      <% material.tags.each do |tag| %>
        <span class="outline-radius-3 margin-2 nowrap font-13 padding-1"><%= tag.tag_name %></span>
      <% end %>
    </div>
  </div>
  <% end %>
</div>