<div class="flex space-50">
  <div class="font-40 underline">まいきゃら</div>
  <p class="left-space-30">
    オリジナルキャラクター「まいきゃら」を</br>
    カテゴリやタグ、最大4つの画像登録で</br>
    管理できるサイトです。</br>
    ぜひ創作の手助けにご利用ください。</br>
    ※登録にはアカウント登録が必要です。
  </p>
</div>


<div>
<!--会員ログイン時表示-->
<% if customer_signed_in? %>

<div class="width-100p center">

  <div class="flex center width-80p">
    <div class="text-center"><%= link_to "まいきゃら一覧", customers_my_chara_path, class: 'padding-20 outline-radius' %></div>
    <div class="text-center"><%= link_to "まいきゃら登録", new_character_path, class: 'padding-20 outline-radius' %></div>
    <div class="text-center">
      <%= link_to "タグ・カテゴリ編集", categories_path, class: 'padding-20 outline-radius' %>
    </div>
  </div>

  <div>
    <!--お問い合わせをした場合に表示-->
    <% if @inquiries.count == 0 %>
    <% else %>

      <div class="top-60">
        <% @inquiries.each do |inquiry| %>
          <div class="outline-radius">
            <table>
              <tr>
                <th>ユーザ名</th>
                <td><%= inquiry.customer.name %></td>
              </tr>
              <tr>
                <th>内容</th>
                <td><%= inquiry.content_i18n %></td>
              </tr>
              <tr>
                <th>お問い合わせ詳細</th>
                <td><%= inquiry.inquiry %></td>
              </tr>
              <tr>
                <th>返信内容</th>
              </tr>
            </table>

            <div>
              <% if inquiry.answers.any? %>
              <% inquiry.answers.each do |answer| %>
                <div><%= answer.answer %></div>
              <% end %>
              </br>
              <div>お問い合わせ内容が解決しましたら✔をクリックして下さい。</div>
              <div><%= link_to "✔", inquiry_path(inquiry.id, inquiry: {solve: true}), method: :patch %></div>
              <% end %>
            </div>
          </div>
        <% end %>
        <% end %>
      </div>

  <!--会員未ログイン時表示-->
  <% else %>

  <div class="flex center width-50p">
    <div class="text-center"><%= link_to "ログイン", new_customer_session_path, class: 'btn btn-success padding-20' %></div>
    <div class="text-center"><%= link_to "新規登録", new_customer_registration_path, class: 'btn btn-primary top-btn padding-20' %></div>
  </div>

<% end %>

</div>

