<div class="flex space-50">
  <div class="font-40 underline">まいきゃら</div>
  <p class="left-space-30">
    オリジナルキャラクター「まいきゃら」を</br>
    カテゴリやタグ、最大4つの画像登録で</br>
    管理できるサイトです。</br>
    ぜひ創作の手助けにご利用ください。</br>
    ※登録にはアカウント登録が必要です。
  </p>
</div>


<div>
<!--会員ログイン時表示-->
<% if customer_signed_in? %>

<div class="width-100p center">

  <div class="flex center width-80p">
    <div class="text-center"><%= link_to "まいきゃら一覧", customers_my_chara_path, class: 'padding-20 outline-radius' %></div>
    <div class="text-center"><%= link_to "まいきゃら登録", new_character_path, class: 'padding-20 outline-radius' %></div>
    <div class="text-center">
      <%= link_to "タグ・カテゴリ編集", categories_path, class: 'padding-20 outline-radius' %>
    </div>
    <div class="text-center"><%= link_to "ネタ一覧", materials_path, class: 'padding-20 outline-radius' %></div>
  </div>

  <!--会員未ログイン時表示-->
  <% else %>

  <div class="flex center width-50p">
    <div class="text-center"><%= link_to "ログイン", new_customer_session_path, class: 'btn btn-success padding-20' %></div>
    <div class="text-center"><%= link_to "新規登録", new_customer_registration_path, class: 'btn btn-primary top-btn padding-20' %></div>
  </div>

<% end %>

</div>