<div>
  <div>まいきゃら</div>
  <p>
    オリジナルキャラクター「まいきゃら」を</br>
    カテゴリやタグ、複数の画像登録で</br>
    管理できるサイトです。</br>
    ぜひ創作の手助けにご利用ください。</br>
    ※登録にはアカウント登録が必要です。
  </p>
</div>

<% if customer_signed_in? %>
  <% if @inquiries.count == 0 %>
  <% else %>
    <div>
      <% @inquiries.each do |inquiry| %>
        <%= inquiry.inquiry %>
        <div>
          <div>ステータス</div>
          <div><%= inquiry.content_i18n %></div>
        </div>
        <div>
          <div>返信内容</div>
          <div>
            <% inquiry.answers.each do |answer| %>
              <%= answer.answer %>
            <% end %>
          </div>
        </div>
        <div>
          <div>解決したら以下の”解決済み”をクリック</div>
          <div><%= link_to "解決済み", inquiry_path(inquiry.id, inquiry: {solve: true}), method: :patch %></div>
        </div>
        <div>
          <div>falseなら未解決、trueなら解決済み</div>
          <div><%= inquiry.solve %></div>
        </div>
        </br>
      <% end %>
    </div>
  <% end %>
<% else %>
<% end %>

<div>
  <div><%= link_to "まいきゃら一覧", customers_my_chara_path %></div>
  <div><%= link_to "まいきゃら登録", new_character_path %></div>
</div>